# Extracomg Information Using Regular Expressions (RegEx)

**r** expression is used to create a raw string. Python raw string treats backslash(\) as a literal character.

In [1]:
# normal string vs raw string
path = "C:\desktop\nathan" #string
print("string:",path)

string: C:\desktop
athan

In [2]:
path = r"C:\desktop\nathan" # raw string
print("raw string:",path)

raw string: C:\desktop\nathan

It is always recommended to use raw strings while dealing with regex

Python has built-in module to work with regex called **re**.

Commonly used methods:
    1. re.match()
    2. re.search()
    3. re.findall()

In [3]:
#  1. re.match()
# returns a match object on success and none on failure

import re

# match a word at the beginning of a string

result = re.match('Analytics', r'Analytics Vidhya is the largest data science community of India')
print(result)

result_2 = re.match('largest', r'Analytics Vidhya is the largest data science community of India')
print(result_2)

<re.Match object; span=(0, 9), match='Analytics'>
None

In [4]:
# since output of re.match is an object must use grounp() function to get the matched expression
print(result.group())

Analytics

In [5]:
# 2. re.search()
# matches the single occurence of a pattern in the entire string

# search for the pattern "founded" in a given string
result = re.search('founded', r'Andrew NG founded Coursera. He also founded deeplearning.ai')
print(result.group())

founded

In [8]:
#  3. re.findall()
# returns all the occureneces of the pattern from the string. always recommended to use re.findal() always as it can work
# both re.search() and re.match()

result = re.findall('founded', r'Andrew NG founded Coursera. He also founded deeplearning.ai')
print(result)

['founded', 'founded']

## Special sequences 

These are used to extract different kinds of information from a given text.

In [13]:
# 1. \b returns a match where the specified pattern is at the end of a word

str = r'Analytics Vidhya is the largest Analytics Community in India'

# check if there is any word that ends with "est"
x=re.findall(r"est\b",str)
print(x)

['est']

In [16]:
# 2. \d returns a match where string contains digits(numbers from 0-9)

str = "2 million monthly visits in Jan'19."

# check if string contains any digits (numbers from 0-9):
x = re.findall("\d", str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
    print("No Match")
# need to comnbine 1,9 into 19

['2', '1', '9']
Yes, there at least once match!

In [17]:
str = "2 million monthly visits in Jan'19."

# check if string contains any digits (numbers from 0-9):
# adding '+' sign after'\d' will continue to extract digits until it encounters a space
x = re.findall("\d+", str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
    print("No Match")

['2', '19']
Yes, there at least once match!

In [18]:
# 3. \D returns a match where the string does not contain any digit

str = "2 million monthly visits in Jan'19."

# check if string contains any digits (numbers from 0-9):
x = re.findall("\D", str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
    print("No Match")
# need to put all of the output together

[' ', 'm', 'i', 'l', 'l', 'i', 'o', 'n', ' ', 'm', 'o', 'n', 't', 'h', 'l', 'y', ' ', 'v', 'i', 's', 'i', 't', 's', ' ', 'i', 'n', ' ', 'J', 'a', 'n', "'", '.']
Yes, there at least once match!

In [23]:
str = "2 million monthly visits'19"

# check if string contains any digits (numbers from 0-9):
x = re.findall("\D+", str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
    print("No Match")

[" million monthly visits'"]
Yes, there at least once match!

In [ ]:
# 4. \w helps in extraction of alphanumeric characters only (characters from a to Z, digits from 0-9, 
# and the underscore_character)

In [24]:
str = "2 million monthly_visits!"

# returns a match at every word character (characters from a to Z, digits from 0-9, and the underscore_character)
x = re.findall("\w",str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
    print("No Match")
# add a + sigh to bring letters together

['2', 'm', 'i', 'l', 'l', 'i', 'o', 'n', 'm', 'o', 'n', 't', 'h', 'l', 'y', '_', 'v', 'i', 's', 'i', 't', 's']
Yes, there at least once match!

In [25]:
str = "2 million monthly_visits!"

# returns a match at every word character (characters from a to Z, digits from 0-9, and the underscore_character)
x = re.findall("\w+",str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
     print("No Match")

['2', 'million', 'monthly_visits']
Yes, there at least once match!

In [26]:
# 5. \W returns a match at every non alphanumeric character

str = "2 million monthly visits9!"

# returns a match at every NON word character (character NOT between a and Z. Like "!", "?" white-space etc.):
x = re.findall("\W",str)

print(x)

if(x):
    print("Yes, there at least once match!")
else:
     print("No Match")

[' ', ' ', ' ', '!']
Yes, there at least once match!

# Metacharacters

Are characters with special meaning

In [28]:
# 1. (.) matches any character (except newline character)

str = "rohan and rohit recently published a research paper!"

# search for a string that starts with "ro", followed by a certain number of characters

x = re.findall("ro.", str)
x2 = re.findall("ro...", str)

print(x)
print(x2)

['roh', 'roh']
['rohan', 'rohit']

In [29]:
# 2 (^) starts with given pattern

str = "Data Science"

# Check if the string starts with 'Data':
x = re.findall("^Data", str)

if (x):
    print("Yes, the string starts with 'Data'")
else:
    print("No Match")

Yes, the string starts with 'Data'

In [32]:
# try with different string

str2 = "Big Data"

# Check if the string starts with 'Data':
x2 = re.findall("^Big", str2)

if(x2):
    print("Yes, the string starts with 'data'")
else:
    print("No match")
print(x2)

Yes, the string starts with 'data'
['Big']

In [34]:
# 3. ($) string ends with given pattern

str = "Data Science"

# Check if the string ends with 'Science':

x = re.findall("Science$", str)

if(x):
    print("Yes, the string starts with 'Science'")
else:
    print("No match")
print(x)

Yes, the string starts with 'Science'
['Science']

In [36]:
# 4. (*) matches for zero or more occurences of the pattern to the left of it
str = "easy easssy eay ey"

# Check if the string contains "ea" following by 0 or more "s" characters ending with y
x = re.findall("eas*y", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['easy', 'easssy', 'eay']

In [37]:
# 5. (+) matches one or more occureces of the pattern to the left of it

str = "easy easssy eay ey"

# Check if the string contains "ea" following by 1 or more "s" characters ending with y
x = re.findall("eas+y", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['easy', 'easssy']

In [38]:
# 6. (?) matches zero or once occurence of the pattern to the left of it

str = "easy easssy eay ey"

x = re.findall("eas?y", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['easy', 'eay']

In [40]:
# 7. "|" pipe operation either or

str = 'Analytics Vidhya is the largest Analytics Community in India'

# check if the string contains either "data or India":

x = re.findall("data|India", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['India']

In [42]:
# try with different string

str = 'Analytics Vidhya is the largest data science communitites'

# check if the string contains either "data or India":

x = re.findall("data|India", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['data']

# Set
A set is a bunch of characters inside a pair of square brackets[].

In [45]:
str = 'Analytics Vidhya is the largest data science community of India'

# check for the characters y, d, or h, in the above string

x = re.findall("[ydh]", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['y', 'd', 'h', 'y', 'h', 'd', 'y', 'd']

In [46]:
str = 'Analytics Vidhya is the largest data science community of India'

# check for the characters between a and g (range) in the above string
x = re.findall("[a-g]", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['a', 'c', 'd', 'a', 'e', 'a', 'g', 'e', 'd', 'a', 'a', 'c', 'e', 'c', 'e', 'c', 'f', 'd', 'a']

#### Lets solve a problem.

In [48]:
str = "Mars'average distance from the Sun is roughly 230 million km and its orbital period is 687 (Earth) days."

# extract the numbers starting with 0 to 4 from the above string
x = re.findall(r"[5-9]\d+",str)
if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['687']

In [49]:
# [^] check whether string has other characters mentioned after ^

str = 'Analytics Vidhya is the largest data science community of India'

# check if there are other characters besides y, d, or h
x = re.findall("[^ydh]", str)

if(x):
    print("Yes, there is at least one match!")
else:
    print("No match")
print(x)

Yes, there is at least one match!
['A', 'n', 'a', 'l', 't', 'i', 'c', 's', ' ', 'V', 'i', 'a', ' ', 'i', 's', ' ', 't', 'e', ' ', 'l', 'a', 'r', 'g', 'e', 's', 't', ' ', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e', ' ', 'c', 'o', 'm', 'm', 'u', 'n', 'i', 't', ' ', 'o', 'f', ' ', 'I', 'n', 'i', 'a']

In [54]:
# [a-zA-Z0-9] check whether string has terms starting with characters other than alphamuneric

str = "@AV Largest Data Science community #AV!!"

# extract words that start with special character
x = re.findall("[^a-zA-Z0-9 ]\w+", str)

print(x)

['@AV', '#AV']

# Solove complex queries

### Extracting Email IDs

In [58]:
str = 'Send a email to rohan.1997@gmail.com, smith_david34@yahoo.com and priya@yahoo.com about the meeting @2PM'

# \w matches any alpha numberic character
# + for repeats a character one or more times
# x = re.findall('\w+@\w.com', str)
x = re.findall('[a-zA-Z0-9._-]+@\w+\.com', str)
               
print(x)

['rohan.1997@gmail.com', 'smith_david34@yahoo.com', 'priya@yahoo.com']

### Extracting Dates

In [60]:
text = "London Olympic 2012 was held from 2012-07-27 to 2012/08/12."

# '\{4}' repeats '\d' 4 times
match = re.findall('\d{4}.\d{2}.\d{2}', text) 
print(match)

['2012-07-27', '2012/08/12']

In [62]:
text = "London Olympic 2012 was held from 27 Jul 2012 to 12-Aug-2012."

# '\{4}' repeats '\d' 4 times
match = re.findall('\d{2}.\w{3}.\d{4}', text) 
print(match)

['27 Jul 2012', '12-Aug-2012']

In [63]:
#extracting dates with varying lengths
text = "London Olympic 2012 was held from 27 September 2012 to 12 August 2012."

# '\w3,10}' repeats '\w' 3 to 10 times
match = re.findall('\d{2}.\w{3,10}.\d{4}', text)
print(match)

['27 September 2012', '12 August 2012']

In [76]:
# Extracting title from names - Titance Dataset
import pandas as pd

#load dataset
data=pd.read_csv("titanic.csv")

In [77]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [78]:
# print first 10 names
data['Name'].head(10)

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

## Methold 1: Split on pandas dataframe and extract the title

In [79]:
name = "Allen, Mr. William Henry"
name2 = name.split(".")
name2

['Allen, Mr', ' William Henry']

In [80]:
name2[0].split('.')

['Allen, Mr']

In [81]:
title=data['Name'].apply(lambda x: x.split(".")[0].split(",")[1])
title.value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Mlle              2
 Major             2
 Col               2
 the Countess      1
 Capt              1
 Ms                1
 Sir               1
 Lady              1
 Mme               1
 Don               1
 Jonkheer          1
Name: Name, dtype: int64

## Method 2: Use RegEx to extract titles

In [82]:
def split_it(name):
    return re.findall("\w+\.", name)[0]

In [83]:
title= data['Name'].apply(lambda x: split_it(x))
title.value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Major.         2
Col.           2
Countess.      1
Capt.          1
Ms.            1
Sir.           1
Lady.          1
Mme.           1
Don.           1
Jonkheer.      1
Name: Name, dtype: int64